@using Vuelos.Entidades
@model dynamic
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Registro
            </div>
            <div class="panel-body">

                <!--Formulario aquí-->
                <form action="@Url.Action("Guardar","Vuelo")">
                    <input type="hidden" class="form-control" name="id" value="@Model.Vuelo.Id">
                    <div class="form-group">
                        <label>Origen:</label>
                        <input class="form-control" name="origen" value="@if (Model.Vuelo.Id != 0) { @Model.Vuelo.Origen}" />
                    </div>
                    <div class="form-group">
                        <label>Destino:</label>
                        <input class="form-control" name="destino" value="@if (Model.Vuelo.Id != 0) { @Model.Vuelo.Destino}" />
                    </div>
                    <div class="form-group">
                        <label>Avion:</label>
                        <select class="form-control" name="idAvion">
                            @foreach (Avion a in Model.aviones)
                            {
                                if (Model.Vuelo.Id != 0 && Model.Vuelo.Avion.Id == a.Id)
                                {
                                    <option selected value="@a.Id">@a.Nombre</option>
                                }
                                else
                                {
                                    <option value="@a.Id">@a.Nombre</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Capacidad:</label>
                        <input class="form-control" name="capacidad" value="@if (Model.Vuelo.Id != 0) { @Model.Vuelo.Capacidad}" />
                    </div>
                    <div class="form-group">
                        <label>Fecha de Partida:</label>
                        <input type="datetime-local" class="form-control" name="fechaPartida" value="@if (Model.Vuelo.Id != 0) { @Model.Vuelo.FechaPartida.ToString("yyyy-MM-ddThh:mm")}"/>
                    </div>

                    <div class="form-group">
                        <label>Fecha de Llegada:</label>
                        <input type="datetime-local" class="form-control" name="fechaLlegada" value="@if (Model.Vuelo.Id != 0) { @Model.Vuelo.FechaLlegada.ToString("yyyy-MM-ddThh:mm")}"/>
                    </div>

                    <button class="btn btn-success" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
