@using Vuelos.Entidades
@model Pasajero
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Registro
            </div>
            <div class="panel-body">

                <!--Formulario aquí-->
                <form id="formulario" action="@Url.Action("Guardar","Pasajero")">
                    <input type="hidden" class="form-control" name="id" value="@Model.Id">
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input required class="form-control" name="nombre" value="@if (Model.Id != 0) { @Model.Nombre}" />
                    </div>
                    <div class="form-group">
                        <label>Apellido Paterno:</label>
                        <input required class="form-control" name="apellidoPaterno" value="@if (Model.Id != 0) { @Model.ApellidoPaterno}" />
                    </div>
                    <div class="form-group">
                        <label>Apellido Materno:</label>
                        <input required class="form-control" name="apellidoMaterno" value="@if (Model.Id != 0) { @Model.ApellidoMaterno}" />
                    </div>
                    <div class="form-group">
                        <label>Fecha de Nacimiento:</label>
                        <input required type="date" class="form-control" name="fechaNacimiento" value="@if (Model.Id != 0) { @Model.FechaNacimiento}" />
                    </div>

                    <button class="btn btn-success" type="button" onclick="guardar()">Guardar</button>

                </form>
            </div>
        </div>
    </div>
</div>

@section js
{
    
    <!-- Sweet Alert 2 JavaScript-->
    <script src="~/Content/js/proyectoVuelos/sweetalert2.js"></script>

    <script>
    function guardar() {
    var form = document.getElementById("formulario");
    if (form.checkValidity()) {
      
      Swal.fire({
        title: '¿Desea Guardar los Cambios?',
        text: "Aseguresé de que su información sea correcta",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si',
        cancelButtonText: 'No'
    }).then((result) => {
        if (result.isConfirmed) {
            form.submit()
        }
    })
    } else {
        Swal.fire({
        icon: 'error',
        title: 'Error',
        text: '¡Asegúrese de llenar los campos y que la información sea válida!',
        })
    }
}
</script>

}