@using Vuelos.Entidades
@model Boleto

@{ ViewBag.Title = "Boleto " + string.Concat(Model.Id.ToString(), "000");}

<div class="col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <p>
                Boleto @string.Concat(Model.Id.ToString(), "000")
            </p>
        </div>
        <div class="panel-body">
            <p>Fecha de compra: @Model.fecha_creacion</p>
            <hr />
            <p>Pasajero: @Model.Pasajero.Nombre</p>
            <p>Asiento: @Model.Asiento</p>
            <p Detalles del vuelo></p>
            <p>Origen: @Model.Vuelo.Origen</p>
            <p>Destino: @Model.Vuelo.Destino</p>
            <p>Capacidad: @Model.Vuelo.Capacidad personas</p>
            <p>Fecha de Partida: @Model.Vuelo.FechaPartida</p>
            <p>Fecha de Llegada: @Model.Vuelo.FechaLlegada</p>
            <p>Avion: @Model.Vuelo.Avion.Nombre</p>
        </div>

    </div>
</div>